#!/usr/bin/env bash

# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
function tre() {
	tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX;
}

alias freenas-on="ipmitool -L ADMINISTRATOR -H 10.0.1.119 -U MATTHEW -P AWh9yK69PB power on"
alias freenas-soft="ipmitool -L ADMINISTRATOR -H 10.0.1.119 -U MATTHEW -P AWh9yK69PB power soft"
alias freenas-off="ipmitool -L ADMINISTRATOR -H 10.0.1.119 -U MATTHEW -P AWh9yK69PB power off"
alias freenas-ipmi="ipmitool -L ADMINISTRATOR -H 10.0.1.119 -U MATTHEW -P AWh9yK69PB"
function compress-images() {
  mogrify -define jpeg:extent=2MB -resize 3840 -monitor  $1/*.JPG
}
alias freenas-ipmi="ipmitool -L ADMINISTRATOR -H 10.0.1.119 -U MATTHEW -P AWh9yK69PB"


alias functions="cat ~/.functions"

function tm() {
  tmutil listlocalsnapshots /
}

function rm-tm() {
  for d in $(tmutil listlocalsnapshotdates | grep "-"); do sudo tmutil deletelocalsnapshots $d; done
}
alias leda="ssh svsucks@leda.whatbox.ca"